@page "/"

<center><h1>Hello, world!</h1></center>

Welcome to your new app.

@Preferences.Default.Get("api_url", "Unknown URL")
UND
@Preferences.Default.Get("api_key", "Unknown Key")
UND
@Preferences.Default.Get("sessionid", "Unknown SessionID")
UND
@Preferences.Default.Get("user", "Unknown User")