@page "/settings-connection"

<center><h1>Settings - Connection</h1></center>

<table class="table-responsive">
    <tr>
        <td>
            <label for="api_url" class="form-label">Api-Url:</label>
        </td>
        <td>
            <input @bind-value="@keyValuePairs["api_url"]" type="text" class="form-control" id="api_url">
        </td>
    </tr>
    <tr>
        <td>
            <label for="api_key" class="form-label">Api-Key:</label>
        </td>
        <td>
            <input @bind-value="@keyValuePairs["api_key"]" type="text" class="form-control" id="api_key">
        </td>
    </tr>
    <tr>
        <td>
            <label for="user" class="form-label">User:</label>
        </td>
        <td>
            <input @bind-value="@keyValuePairs["user"]" type="text" class="form-control" id="user" disabled>
        </td>
    </tr>
</table>

<button @onclick="SaveVariables" class="btn btn-primary">Update</button>

@code {
    private static Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();

    private static void SaveVariables()
    {
        Misc.SaveVariables(keyValuePairs);
        SetVariables();
    }

    private static void SetVariables()
    {
        keyValuePairs["api_url"] = Preferences.Default.Get("api_url", "Unknown URL");
        keyValuePairs["api_key"] = Preferences.Default.Get("api_key", "Unknown KEY");
        keyValuePairs["user"] = Preferences.Default.Get("user", "Unknown User");
    }
}

<!--DoAtInit-->
    @code {
        protected override void OnInitialized()
        {
          SetVariables();
        }
    }