@page "/stock"

<center><h1>Current Stock:</h1></center>
<br />
@if (ResponseStatus && !string.IsNullOrEmpty(ResponseContent))
{
    <center><h2>@ResponseContent</h2></center>
}

<center>
    <input @bind-value="newStock" type="number" class="form-control w-auto">
    <br />
    <button @onclick="SetCurrentStock" class="btn btn-primary">Update</button>
</center>

<!--ErrorPopup-->
@if (Popups.ShowErrorPopup)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;background-color:rgba(0,0,0,0.5)">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Connection Error</h5>
                    <button type="button" class="btn btn-close" @onclick="Popups.CloseErrorPopup">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    @ResponseError
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Popups.CloseErrorPopup">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    <!--Variables-->
    private bool ResponseStatus;
    private string ResponseContent = "";
    private string ResponseError = "";
    private string newStock = "";

    <!--GetCurrentStock-->
    private async Task GetCurrentStock()
    {
        var formData = new MultipartFormDataContent
                {
                    { new StringContent("get"), "calltype" },
                    { new StringContent("currentstock"), "callitem" }
                };

        var Response = await WebCall.MakeApiCall(formData);

        ResponseStatus = Response.Item1;

        if (ResponseStatus)
        {
            ResponseContent = Response.Item2;
        }
        else
        {
            ResponseError = Response.Item2;
            Popups.OpenErrorPopup();
        }
    }

    <!--SetCurrentStock-->
    private async Task SetCurrentStock()
    {
        if (!string.IsNullOrEmpty(newStock))
        {
            var formData = new MultipartFormDataContent
                {
                    { new StringContent("set"), "calltype" },
                    { new StringContent("currentstock"), "callitem" },
                    { new StringContent(newStock), "value" }
                };
            var Response = await WebCall.MakeApiCall(formData);

            ResponseStatus = Response.Item1;

            if (ResponseStatus)
            {
                await GetCurrentStock();
            }
            else
            {
                ResponseError = Response.Item2;
                Popups.OpenErrorPopup();
            }
            newStock = "";
        }
        else
        {
            ResponseError = "Please correct your input!";
            Popups.OpenErrorPopup();
        }
    }
}

<!--DoAtInit-->
@code { 
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        await GetCurrentStock();
    }
}